
<html>
<head>
<title>Side Bar</title>

</head>
<body>
<link rel="stylesheet" type="text/css" href="{% static 'vehicles/style.css' %}" />


<nav>
    <ul>
        <li>
            <a href="home.html">Home</a>
            <ul>
                <li><a href="presentation.html">presentation</a></li>
                <li>
                    <a href="contact.html">contact</a>
                    <ul>
                        <li><a href="one.html">One</a></li>
                        <li><a href="two.html">Two</a></li>
                        <li><a href="three.html">Three</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="blog.html">Blog</a>
            <ul>
                <li><a href="one.html">One</a></li>
                <li><a href="two.html">Two</a></li>
                <li><a href="three.html">Three</a></li>
            </ul>
        </li>
        <li>
            <a href="shop.html">Shop</a>
            <ul>
                <li>
                    <a href="candy.html">candy</a>
                    <ul>
                        <li><a href="one.html">One</a></li>
                        <li><a href="two.html">Two</a></li>
                        <li><a href="three.html">Three</a></li>
                    </ul>
                </li>
                <li><a href="chocolate.html">chocolate</a></li>
                <li>
                    <a href="icecream.html">ice cream</a>
                    <ul>
                        <li><a href="one.html">One</a></li>
                        <li><a href="two.html">Two</a></li>
                        <li><a href="three.html">Three</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="news.html">News</a></li>
    </ul>
</nav>




</body>
</html>
