
<html>
<head>
<title>Side Bar</title>

</head>
<body>
<link rel="stylesheet" type="text/css" href="{% static 'vehicles/style.css' %}" />

<h2>My Garage</h2>
<p>Registered Cars</p>
    <table>

    <th>Reg No</th>
    <th>Make</th>
    <th>Model</th>
    
    {% for vehicles in registeted_veh_list %}      
        <tr>
        
        <td><a href="/vehicles/{{ vehicles.Veh_Reg_No }}/">{{ vehicles.Veh_Reg_No }}</a></td>
        <td>{{ vehicles.Veh_Make }}</td>
        <td>{{ vehicles.Veh_Model }}</td>

        </tr>
    {% endfor %}
    
    </table>
{% else %}
    <p>No Vehicles are available.</p>
{% endif %}

</body>
</html>
